<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Machine Learning</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet">
    <link href="../static/css/ML.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="../static/js/logic.js"></script>
    

</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../static/images/battle_hands.png" style="height: 80px; max-height: 80px;"></a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/model">Machine Learning</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/dashboard">Superhero Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/battle">Battle Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
        </ul>
    </div>
</nav>
   
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">Create your Hero</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <label class="col-form-label" for="character">Character</label>
                            <select id="character">
                                <option value="character_batman">Batman</option>
                                <option value="character_captain_america">Captain America</option>
                                <option value="character_flash">Flash</option>
                                <option value="character_iron_man">Iron Man</option>
                                <option value="character_spider_man">Spider Man</option>
                                <option value="character_superman">Superman</option>
                                <option value="character_thor">Thor</option>
                                <option value="character_wonder_woman">Wonder Woman</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="strength">Strength</label>
                            <input type="number" class="form-control" id="strength" min="1" max="10" required>
                            <div class="error-message" style="color: red; display: none;">Whoa! No one is that strong! Pick a number between 1-10.</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="speed">Speed</label>
                            <input type="number" class="form-control" id="speed" min="1" max="10" required>
                            <div class="error-message" style="color: red; display: none;">Whoa! No one is that fast! Pick a number between 1-10.</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="intelligence">Intelligence</label>
                            <input type="number" class="form-control" id="intelligence" min="1" max="10" required>
                            <div class="error-message" style="color: red; display: none;">Whoa! No one is that smart! Pick a number between 1-10.</div>
                        </div>
                    </div>

                        <div class="form-group">
                            <label class="col-form-label" for="specialAbilities">Special Ability</label>
                            <select id="specialAbilities">
                                <option value="specialAbilities_flight">Flight</option>
                                <option value="specialAbilities_invisibility">Invisibility</option>
                                <option value="specialAbilities_super_strength">Super Strength</option>
                                <option value="specialAbilities_telekinesis">Telekinesis</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="weaknesses">Weakness</label>
                            <select id="weaknesses">
                                <option value="weaknesses_kryptonite">Kryptonite</option>
                                <option value="weaknesses_magic">Magic</option>
                                <option value="weaknesses_silver">Silver</option>
                                <option value="weaknesses_wooden_stake">Wooden Stake</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" id="filter">Make Prediction!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 id="output"></h1>
            </div>
        </div>
    </div>

</body>

</html>