<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Works Cited</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet">
    <link href="../static/css/work_cited.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../static/images/battle_hands.png" style="height: 80px; max-height: 80px;"></a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/model">Machine Learning</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/dashboard">Superhero Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/battle">Battle Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
        </ul>
    </div>
</nav>

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Works Cited and other Resources</h1>
            </div>
        </div>
     </div>

      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Card 1 -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Super hero battle data</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Data</h6>
                        <p class="card-text">This is the dataset we used to train the ML model.</p>
                        <a href="https://www.kaggle.com/datasets/rabieelkharoua/fictional-character-battle-outcome-prediction" class="card-link">Source</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Card 4 -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Super hero stats</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Data</h6>
                        <p class="card-text">Here is the original super hero stats dataset we used for Tableau. </p>
                        <a href="https://www.kaggle.com/datasets/claudiodavi/superhero-set" class="card-link">Source</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <!-- Card 3 -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Bootswatch Themes</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Code</h6>
                        <p class="card-text">Our bootswatch theme and code for elements like the cards on the work sited page.</p>
                        <a href="https://bootswatch.com/lux/" class="card-link">Source</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <!-- Card 2 -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Website Logo</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Images</h6>
                        <p class="card-text">This is where we found the hands logo for the website.</p>
                        <a href="https://www.istockphoto.com/vector/vector-clenched-fists-fight-mma-wrestling-kick-boxing-karate-sport-gm961853036-262671032" class="card-link">Source</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <!-- Card 5 -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Superhero Battle</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Images</h6>
                        <p class="card-text">This is the image on the home page.</p>
                        <a href="https://www.joblo.com/lists-top-10-superhero-grudge-matches-we-want-to-see/" class="card-link">Source</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Card 6 -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ChatGPT</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Code</h6>
                        <p class="card-text">ChatGPT helped with HTML code for the machine learning page as well as helped us to understand code and the errors that popped up.</p>
                        <a href="https://chatgpt.com/" class="card-link">Source</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-4">
                Card 7
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Work cited #6</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Code</h6>
                        <p class="card-text">Work cited #6</p>
                        <a href="" class="card-link">Source</a>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4">
                Card 8
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">work cited #7</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Code</h6>
                        <p class="card-text">work cited #7</p>
                        <a href="" class="card-link">Source</a>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4">
                 Card 9 -->
                <!-- <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">work cited #8</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Data Visualizations</h6>
                        <p class="card-text">work cited #8 </p>
                        <a href="" class="card-link">Source</a>
                    </div>
                </div>
            </div> --> 

            <!-- <div class="col-md-4">
                Card 5
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title 5</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Another Category</h6>
                        <p class="card-text">Description of another new card.</p>
                        <a href="#" class="card-link">Source</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

     <br/>
     <br/>
</body>

</html>


<!-- the website that i got the logo https://www.istockphoto.com/vector/vector-clenched-fists-fight-mma-wrestling-kick-boxing-karate-sport-gm961853036-262671032 -->
<!-- our kaggle data set for the super hero stats for tableau https://www.kaggle.com/datasets/claudiodavi/superhero-set -->
<!-- our bootswatch theme+ variose website elements like the work sited cards https://bootswatch.com/lux/ -->
